


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

*{
    scroll-behavior: smooth;
}

.barra{ 
    background-color: #303338;
    padding: 0.5rem;
    display: flex;
    box-shadow: 0px 2px 27px rgba(0, 0, 0, 1.2);
    height: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* codigo de abajo es para que la barra quede fija */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;


}



.barra a img, .barra img{
    display: none;
}

.div_barra{
    
    padding: 0.5rem;
    display: flex;
   
    height: 3rem;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    /* codigo de abajo es para que la barra quede fija */
    
 
}

.div_barra_oculto{
    padding: 0.5rem;
    display: flex;
   
    height: 3rem;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    /* codigo de abajo es para que la barra quede fija */
}

.boton_principal{
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    transition: 0.3s;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    min-width: 14rem;
    font-weight: 600;
    color: #00f3ff;
    
}

.boton_principal:hover{
    transform: scale(1.03);
    text-shadow: 0 0 10px rgba(0, 217, 255, 0.507)
}

.boton_menu{
    padding: 0.8rem;
    text-decoration: none;
    color: inherit;
    /* font-size: 0.7rem; */
    margin-right: 10px;
    font-size: 1.4rem;
    transition: 0.2s;
    border-radius: 15px;
    font-family: 'poppins', sans-serif;
    color: #BEC3C9;
    font-weight: 100;
}

.boton_menu:hover{
    background-color: rgba(255, 255, 255, 0.116);
}


/* componente principal cambios */

.div_componentePrincipal{
    background-color: #303338;
    margin: 6rem 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: center;
    scroll-margin-top: 6rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.container_info_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 50%;
    
}

.div_card {
    display: flex;  
    flex-direction: column;
    justify-content: center;  
    width: 50%;
}

.div_img_manu{
    display: flex;  
    flex-direction: column;
    justify-content: center;      
    align-items: center;
    width: 23rem;
}

.animacion_imagen_manu{
    background: linear-gradient(to right, rgb(22, 38, 182), rgba(255, 255, 255, 0)),
                linear-gradient(to right, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0));
    background-blend-mode: overlay;
    width: 25vw;
    height: 25vw;
    min-width: 12rem;
    min-height: 12rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 100%;
    animation: girar 2s infinite linear;
    transition: 4s;
}

.animacion_imagen_manu:hover{
    
    background: linear-gradient(to right, rgb(0, 107, 207), rgba(255, 255, 255, 0)),
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0));
    background-blend-mode: overlay;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}



.img_manu{
        
    width: 93%;
    border-radius: 100%;
    animation: nogirar 2s infinite linear;
}

@keyframes nogirar {
    0% {
        transform: rotate(-0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
}


/* descarga de curriculum */ 

.div_download{
    width: 11rem;
    height: 2rem;
    background-color: #ffffff7e;
    display: flex;
    color: #1C1E21;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: 0.3s;
}

.div_download:hover{
    background-color: #00f3ff;
    transform: scale(1.05);
    
}

.div_download img{
    height: 1.3rem;
    margin: 0 0.5rem;
}

.div_download a{
    text-decoration: none;
    color: #1C1E21;
}


/* modificaciones para los componentes secundarios */
.div_componenteSecundario{
    background-color: #303338;
    margin: 6rem 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    scroll-margin-top: 6rem;
    /* height: calc(70vh - 8rem); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.div_componenteSecundario_oscuro{
    
    margin: 6rem 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    scroll-margin-top: 6rem;
    /* height: calc(70vh - 8rem); */
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.titulo_secundario{
    display: flex;
    width: 100%;
    justify-content: center;
    /* height: 4rem; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5vh;
    margin: 2rem 0rem;
}

.titulos_principales{
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4vh;
}

.div_padre_sobreMi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.div_sobreMi{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    margin-top: 2rem;
}

.parrafo_sobreMi{    
    margin-top: 1rem;    
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    

}

.programador_animado{
    width: 45vh;
    
}


/* por aca vamos a hacer la parte de habilidades */




.div_iconos{
    
    display: flex;    
    flex-wrap: wrap;    
    justify-content: center;
    margin: 3rem 0rem;
}

.div_icono_parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    transition: 0.2s;  
    margin: 1rem;  
    filter: grayscale(0.8);
   
}

.div_icono_parrafo:hover{
    opacity: 1;
    transform: scale(1.15);   
    filter: grayscale(0); 
}

.icono{    
    width: 8vh;
}

.parrafo_de_icono{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}


/* diseño de la parte de formacion */

.img_formacion{
    width: 100%;
    border-radius: 15px;
}

.parrafo_img_formacion{
    font-size: 18px;

}

/* formaicon .iconos */


.container_div_formacion_iconos{
    display: flex;
    width: 100%;
    justify-content: center;
}

.container_div_formacion_iconos_dentro{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.div_formacion_iconos{
    width: 20rem;
    display: flex;
}

/* proyectos */


.div_parrafo_proyecto{
    
    
    position: absolute;
    width: 20rem;
    height: 0vh;    
    transition: 0.3s;
    display: flex;
    justify-content: center;

}




.div_proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;    
    transition: 0.2s;  
    margin: 1rem;  
    width: 20rem;
    height: 20rem;
    
}

.div_proyecto:hover{
    transform: scale(1.15);
    color: #1C1E21;
}



.div_info_proyecto{
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    height: 20rem;
    text-align: justify;
    position: absolute;
    border-radius: 15px;
    background-color: rgb(226, 226, 226);
    opacity: calc(0%);
    transition: 0.3s;
    color: #1C1E21;
    
}




.div_info_proyecto:hover{
    opacity: calc(100%); 

}




.parrafo_img_proyecto{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}




.div_div_info_proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

.info_proyecto{
    font-size: .75rem;
    height: 36%;
    text-align: justify;
    margin-top: 13%;
    width: 90%;
    
}

.info_proyecto_iconos{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
 
}

.div_icono_proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.div_icono_proyecto:hover{
    transform: scale(1.15);
}

.icono_proyecto{
    width: 65%;    
    height: 100%;
    
}

.link_proyectos{
    
    height: 17%;    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;    
    border-radius: 13px;
    width: 83%;
}


.link_proyectos img{  
    width: 8%;
    margin-right: 25%;
    margin-left: 4%;
}


.link_proyectos div {
    display: flex;
    position: absolute;      
    width: 100%;
    justify-content: center;
    
}

.link_proyectos a{

    border-radius: 15px;
    height: 100%;
    width: 35%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
    font-weight: 800;
    transition: 0.5s;
}

.link_proyectos a:hover{
    color: rgb(26, 127, 243);
    text-shadow: 0 0 10px rgba(0, 217, 255, 0.5)
}

/* proyectos afuera*/


.div_icono_ver{
    top: -2.5rem;
    position: relative;    
    width: 11rem;
    height: 40px;
    display: flex;
    justify-content: space-around;
    opacity: calc(80%);
}

.icono_ver{
    height: 70%;
}



/* footer ---------------------------------------------*/
/* footer ---------------------------------------------*/



.animacion_imagen_manu_footer{
    background: linear-gradient(to right, rgb(145, 95, 75), rgba(255, 255, 255, 0)),
                linear-gradient(to right, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0));
    background-blend-mode: overlay;
    width: 14vw;
    height: 14vw;
    min-width: 10rem;
    min-height: 10rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 100%;
    animation: girar 2s infinite linear;
    transition: 4s;
}

.animacion_imagen_manu_footer:hover{
    
    background: linear-gradient(to right, rgb(187, 75, 23), rgba(255, 255, 255, 0)),
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(128, 128, 128, 0));
    background-blend-mode: overlay;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}



.img_manu_footer{
        
    width: 90%;
    border-radius: 100%;
    animation: nogirar 2s infinite linear;
}

@keyframes nogirar {
    0% {
        transform: rotate(-0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
}


/* todo lo de arriba tiene que ver con la animacion y el diseño de mi imagen en contacto */


.div_componenteSecundario_oscuro_footer{
    margin: 6rem 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    scroll-margin-top: 6rem;
    /* height: calc(70vh - 8rem); */
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}

.titulo_footer{
 
 opacity: calc(0%);
}


.div_contacto{
    
    display: flex;    
    min-height: 30rem;    
    flex-direction: column;
    border-bottom: 1px solid;
    border-color: #818181;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 3rem;
    text-align: center;

}

.div_contacto h4{    
    margin: 1rem;
    font-weight: 100;
    font-size: 2rem;
}

.div_contacto h5{
    font-weight: 700;
    font-size: 1.5rem;
}


.div_boton{    
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.boton_enviar{
    display: flex;
    background-color:#303338;
    height: 4rem;
    justify-content: center;
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.boton_enviar:hover{
    color: #1C1E21;
    transform: scale(1.1);
    background-color: #818181;
    box-shadow: 0px 2px 27px rgba(0, 0, 0, 1.2);
}

.boton_enviar h2{
    display: flex;
    align-items: center;    
    text-decoration: none;
    
    
}

.ico_mail{
    height: 100%;
    
}



.footer{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.footer h5{        
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.562);
}

.iconos_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img_icono_footer{
    width: 3rem;
}


/* ---------------------------ACA COMENZAMOS A HACERLO RESPONSIVO------------------------------- */

@media (max-width: 1024px) {
    .barra{ 
        
        display: flex;
        height: 10%;
        padding: 0;
        width: 100vw;
        justify-content: space-around;
    }

    .barra a img, .barra img{
        display: flex;        
        width: 3rem;
        opacity: calc(60%);
    }
    

    

    .div_barra {
        position: absolute;
        padding: 0;
        flex-direction: column;
        height: 80vh;
        width: 100vw;
        top: 9vh;
        /* background-color: #303338; */
        display: flex;
        justify-content: space-evenly;
        background-image: linear-gradient(to bottom, rgba(48, 51, 56, 0.993) 95%, rgba(48, 51, 56, 0) );
    }

    .div_barra_oculto{
        display: none;
    }

    

    .boton_principal{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3rem;
        display:none;
        
    }

    .boton_menu {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        font-size: 2.5rem;
    }








    
    .div_componentePrincipal {
        
        margin: 10rem 1rem;
        
    }

    .container_info_principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .div_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .div_padre_sobreMi {
        display: flex;
        align-items: center;
        justify-content: center;        
        flex-wrap: wrap;
    }

    .div_sobreMi {
        display: flex;
        flex-direction: column;       
        text-align: justify;     
        width: 100%;  
    }

    #menu-button{
        transition: .5s;
    }

    #menu-button:hover{
        rotate: 180deg;
        
    }
}